
dialog{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

dialog.dialog-modal{
    border: 0;
    border-radius: .75rem;
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 1rem; */
    padding: 1.5rem 2rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

dialog.dialog-modal::backdrop{
    background: rgba(0, 0, 0, 0.3);
}

dialog.dialog-modal .title h4{
    font-weight: var(--font-bold);
    font-size: var(--font-size-subtitle);
    text-align: start;
    margin-bottom: 1rem;
}

dialog.dialog-modal .content {
    margin-bottom: 2rem;
}

dialog.dialog-modal .footer{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}