
.main-navbar{
    background-color: var(--color-secondary);
    padding: 5rem 0.5rem;
}

.main-navbar nav {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main-navbar ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 100%;
}

.main-navbar ul li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: all 0.2s ease;
}

.main-navbar ul a {
    font-weight: var(--font-medium);
    color: white;
    text-decoration: none;
}

.main-navbar a.active li{
    font-weight: var(--font-bold);
    background-color: var(--color-secondary-darker);
}
  
.main-navbar ul li:hover, .main-navbar a.active li:hover {
    background-color: var(--color-secondary-lighter);
}

.main-navbar ul li:active, .main-navbar a.active li:active {
    background-color: var(--color-secondary-darker);
}

.main-navbar ul li {
    list-style: none;
}

.logout-container{
    margin: 3rem 0 1rem 0;
}

button.logout{
    width: 100%;
    border-radius: 0;
    background-color: inherit;
    font-weight: var(--font-medium);
}

button.logout:hover {
    background-color: var(--color-secondary-darker);
}

button .logout-icon {
    display: none;
}

@media ( max-width: 400px ){
    .main-navbar ul {
        gap: 0.5rem
    }
    .text-navlink{
        display: none;
    }
    button .logout-icon{
        display: block;
    }
}