
.paginate-item {
    align-items: center;
    background-color: var(--color-gray-background);
    border-radius: 0.5rem;
    display: flex;
    font-weight: var(--font-bold);
    justify-content: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.paginate-item:hover{
    background-color: var(--color-gray-background-darker);
}

.paginate-item.active {
    background-color: var(--color-primary);
    color: white;
}

.paginate-item.active:hover {
    background-color: var(--color-primary-darker);
}