
div.radio-options{
    display: flex;
    flex-flow: row wrap;
    margin: 1rem 0;
}

div.radio-options input[type="radio"]{
    height: 1rem;
    width: 1rem;
    accent-color: var(--color-primary);
}

div.radio-options .radio-input-container{
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin: 0 0.5rem;
}
