

.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100vh;
}

div.input-group{
    display: flex;
    flex-direction: column;
}

main .section.login {
    width: 20%;
    padding: 1rem 2rem;
}