
table.med-list {
    margin-block: 3rem;
    text-align: start;
    width: 100%;
}

table.med-list thead tr th{
    border-bottom: 0.2rem solid var(--color-gray-background);
}

table.med-list tbody tr:hover {
    background-color: var(--color-gray-background);
}

table.med-list th {
    padding: 1.5rem 1rem;
}

table.med-list td {
    padding: 1rem 1rem;
}

table.med-list td.name {
    cursor: pointer;
    max-width: 8rem;
}

table.med-list tr th {
    text-align: start;
    font-size: var(--font-size-normal);
    font-weight: var(--font-bold);
}

table.med-list tr td.actions {
    display: flex;
    font-size: var(--font-size-normal);
    gap: 0.25rem;
}
