
div.med-data{
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    justify-content: center;
}

.med-titlename input{
    background-color: var(--color-gray-background);
    border: 0;
    border-radius: 1rem;
    font-size: var(--font-size-subtitle);
    font-weight: var(--font-bold);
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    text-align: center;
}

.med-titlename input:focus{
    outline: none;
}

div.med-data h4{
    text-align: start;
    margin: 1rem 0 1rem 0.25rem;
    font-weight: var(--font-bold);
}

div.med-data div.inner-med-list {
    min-width: 30%;
}

div.med-data ul {
    width: 100%;
}

div.med-data form {
    min-width: 50%;
    width: 80%;
}

div.med-data form textarea {
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    background-color: var( --color-gray-background);
    resize: none;
    padding: 1rem;
}

.submit-button-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

@media (max-width: 700px){
    div.med-data{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
    }

    div.inner-med-list {
        width: 100%;
    }

    .med-titlename h3 {
        font-size: var(--font-size-subtitle);
        font-weight: var(--font-bold);
        margin: 1rem 0;
    }

    div.med-data form {
        width: 100%;
    }
}