:root {
  --color-dark: #04080f;
  --color-primary: #507DBC;
  --color-secondary: #5C946E;
  --color-secondary-lighter: #6e9c7d;
  --color-secondary-darker: #4e835f;
  --color-disabled: #F1F2EB;
  --color-success: #D7FDF0;
  
  
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--color-dark);
  background-color: #f2f2f2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

#root {
  margin: 0;
  padding: 0;
  font: inherit;
  max-width: none;
}

.main-container{
  display: grid;
  grid-template-columns: 0.5fr 4fr 1fr;
  min-height: 100vh;
  gap: 1rem;
}

.main-container > main {
  min-height: 100%;
  padding: 1rem 0rem;
  gap: 1rem
}

main .section {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
}

.aside {
  background-color: white;
  padding: 2rem 3rem 2rem 1rem;
}

select.process, input.process, .input.process.icon {
  width: 100%;
  padding: 2px 5px;
  border: 0;
  border-bottom: 1px solid rgb(169, 169, 169);
  outline: none;
}

select {
  background-color: white;
}

input.interface {
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 0;
  text-align: start;
}

.form .input.process, form .input-group-h {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

/* 
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
