:root {
  --color-black: #04080f;
  --color-black-lighter: #3c3c3c;
  --color-primary: #507DBC;
  --color-primary-lighter: #699adf;
  --color-primary-darker: #3d6294;
  --color-secondary: #5C946E;
  --color-secondary-lighter: #6e9c7d;
  --color-secondary-darker: #4e835f;
  --color-disabled: #F1F2EB;
  --color-success: #D7FDF0;
  --color-gray-background: #f2f2f2;
  --color-gray-background-darker: #dadada;
  --color-negative: #A53F2B;
  --color-negative-darker: #8e3b2b;
  --color-negative-lighter: #b2523f;

  --font-bold: 700;
  --font-normal: 400;
  --font-size-little: 12px;
  --font-size-media: 14px;
  --font-size-normal: 16px;
  --font-size-subtitle: 1.25rem;
  --font-size-title: 2rem;
  
  
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: var(--font-size-normal);
  line-height: 24px;
  font-weight: var(--font-normal);

  color: var(--color-black);
  background-color: var(--color-gray-background);
}

@media (max-width: 1444px){
  :root {
    font-size: var(--font-size-media);
    line-height: 20px;
  }
}

@media (max-width: 930px){
  :root {
    font-size: var(--font-size-little);
    line-height: 18px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

#root {
  margin: 0;
  padding: 0;
  font: inherit;
  max-width: none;
}

.main-container{
  display: grid;
  grid-template-columns: 0.5fr 4fr 1fr;
  min-height: 100vh;
  gap: 1rem;
}

.main-container > main {
  min-height: 100%;
  padding: 1rem 0rem;
  gap: 1rem
}

main .section {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
}

.aside {
  background-color: white;
  padding: 2rem 3rem 2rem 1rem;
}

select.process, input.process, .input.process.icon {
  width: 100%;
  padding: 2px 5px;
  border: 0;
  border-bottom: 1px solid rgb(169, 169, 169);
  outline: none;
}

select {
  background-color: white;
}

input:not(.inner-input){
  margin: 1rem 0;
}

input.interface {
  padding: 0.5rem 1rem;
  background-color: var(--color-gray-background);
  border: 0;
  border-radius: 10px;
  outline: none;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 0;
  text-align: start;
}

.form .input.process, form .input-group-h {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.input-group-h {
  margin: 1rem 0;
}



/* Utilities */
button {
  border: 0;
  color: white;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: all 0.1s ease-in;
}

button.primary {
  background-color: var(--color-primary);
  border-radius: 30px;
}

button.primary:hover{
  background-color: var(--color-primary-lighter);
}

button.primary:active{
  background-color: var(--color-primary-darker);
}

button.negative {
  background-color: var(--color-negative);
  border-radius: 30px;
}

button.negative:hover{
  background-color: var(--color-negative-lighter);
}

button.negative:active{
  background-color: var(--color-negative-darker);
}

button.simple {
  background-color: white;
  border-radius: 30px;
  color: var(--color-primary);
}

button.simple:hover{
  color: var(--color-primary-lighter);
}

button.simple:active{
  color: var(--color-primary-darker);
}

/* 
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
